.header__links-container {
  padding-top: 46px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__links-container {
    padding-top: 30px;
  }
}
