.footer__link {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 112%;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
  
.footer__link:hover {
  cursor: url(./images/Pointer.png), pointer;
  opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__link {
    margin-top: 32px;
    font-size: 24px;
    line-height: 100%;
  }

  .footer__link:first-of-type {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__link {
    margin-right: 18px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .footer__link {
    margin-right: 18px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .footer__link {
    margin-right: 18px;
  }
}