.lead__title {
  margin: auto;
  font-size: 96px;
  line-height: 104%;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 32px;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__title {
    max-width: 90%;
    font-weight: 900;
    font-size: 40px;
    line-height: 110%;
    margin-top: 48px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__title {
    max-width: 93.75%;
    margin-top: 48px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .lead__title {
    max-width: 75%;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    max-width: 70%;
  }  
}