.lead__subtitle {  
  margin: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  font-family: 'Inter';
  line-height: 120%;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__subtitle {
    width: 90%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__subtitle {
    width: 83.33%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .lead__subtitle {
    width: 62.5%;
  }
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    width: 50%;
  }
}