.cover {
  margin: auto;
  color: #FFFFFF;
  margin-bottom: 92px;
  margin-top: 92px;
  position: relative;
  width: 1184px;
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover {
    min-height: 200px;
    margin-top: 66px;
    margin-bottom: 64px;
  }   
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    min-height: 480px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .cover {
    min-height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    width: 92.5%;
    min-height: 740px;
  }
}