.intro__title {
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 107%;
  font-family: 'Inter';
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro__title {
    width: 75%;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 109%;
  }
}
